@{
    ViewData["Title"] = "Categorias";
}
<h2>Categoria</h2>
<hr />

@model SistemaVendas.Models.CategoriaViewModel
@{
    var disabled = (Model.Codigo == null) ? "disabled" : string.Empty;
}

<form asp-controller="Categoria" asp-action="Cadastro" method="post">
    <input type="hidden" asp-for="Codigo" value="@Model.Codigo" />

    <div class="form-group">
        <div class="col-4">
            <label>Descrição</label>
            <input type="text" asp-for="Descricao" value="@Model.Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <br />
        <div class="col">
            <button type="button" class="btn btn-info" onclick="Novo()">Novo</button>
            <button type="submit" class="btn btn-success">Gravar</button>
            <button type="button" class="btn btn-warning" onclick="Listagem()">Listagem</button>
            <button type="button" class="btn btn-danger" onclick="Excluir(@Model.Codigo)" @disabled>Excluir</button>
        </div>
    </div>
</form>

<script>

    function Novo() {
        Request("Cadastro");
    }

    function Listagem() {
        Request("");
    }

    function Excluir(Codigo) {
        Request("Excluir\\" + Codigo);
    }

    function Request(request) {
        window.location = window.origin + "\\Categoria\\" + request;
    }
</script>