@model List<SistemaVendas.Models.CategoriaViewModel>;
@{
    ViewData["Title"] = "Categorias";
}

<h2>Categoria</h2>
<hr />

<table class="table table-bordered">
    <thead>
        <tr style="background-color:gray">
            <th>Código</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="Editar(@item.Codigo)" style="cursor:pointer">
                <td>@item.Codigo</td>
                <td>@item.Descricao</td>
            </tr>
        }
    </tbody>
</table>
<button type="button" class="btn btn-block btn-primary" onclick="Cadastrar()">Cadastrar Categoria</button>
<script>

    function Editar(Codigo) {
        window.location = window.origin + "\\Categoria\\Cadastro\\" + Codigo;
    }

    function Cadastrar() {
        window.location = window.origin + "\\Categoria\\Cadastro"
    }

</script>